body{
  background: lightblue;
  display: flex;
  justify-content:center;
  align-items: center;
  min-height:100vh;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
.container{
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 100px;
  margin: 50px;
  background: #fff;
display: grid;
grid-template-columns: 1fr 2fr;
box-shadow: 0 35px 55px rgba(0,0,0,0,1);
}
.container .left{
  position: relative;
  background: #003147;
  padding: 40px;
}
.container .right{
  position: relative;
  background: #fff;
  padding: 40px;
}
.profile
{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 0, 0, 0.5);
}
.profile .img{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.profile .img img{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile h2{
  font-size: 1.5em;
  color: #fff;
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}
.containerinfo{
  padding-top: 40px;
}
.title{
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;

}
.containerinfo ul li
{
  color: #fff;
  font-weight: 300;
}
.Education{
  margin-bottom: 15px;
}
.about{
  margin-bottom: 50px;

}
.about:last-child{
  margin-bottom: 0;
}
.title2{
  color: #003147;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}


.containe{
  width: 100%;

  background: #ddd;

}
.skills {
  text-align: right;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;

}
.html{
  width: 90%;
  background: #04AA6D;
}
.css{
  width: 90%;
  background: #04AA6D;
}
.javascript{
  width: 50%;
  background: #f44336;
}
.Java{
  width: 60%;
  background:yellow;
}
.sharp{
  width: 60%;
  background:yellow;
}
